//FUENTES
$font-principal:"Nunito",sans-serif;
$font-titles:"Inter",sans-serif;


//BREAKPOINTS

$desktop-breakpoint:1440px;


//COLORES

$background-principal: #EAE6E6;

$color-white: #FFFFFF;
$color-bg-primary: #e8e4e1;
$color-bg-item: #dad6d3;
$color-bg-item--dk: #ccc8c5;


$color-text: #1a1a1a;
$color-text--dk: #2A2A2A;

$color-text-gray: #666666;
$color-border: #c0bbb8;
$color-border--dk: #999593;



//TRANSICIONES

$transition-speed: 0.3s;


//TAMAÑOS

$title__principal-size: 6vh;
$title__principalMobile-size2: 8vh;
$form_radius:8px; 


//FORMULARIO

$form-input-bg: #ffffff;
$form-input-radius: 8px;
$form-icon-color: #a0a0a0;
$form-spacing: 1rem;
$form-max-width: 600px;